@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
:root {
    --red: #a44d98;
    --black: #040d21;
    --light: #fcf7fa;
    --dark: #0c162d;
    --grey: #8193b2;
    --maxwidth: 768px;
    --shadow: 0 0 0 1px hsla(0,0%,100%,.1),0 3px 2px rgba(0,0,0,.04),0 7px 5px rgba(0,0,0,.02),0 13px 10px rgba(0,0,0,.02),0 22px 17px rgba(0,0,0,.02);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none; 
    list-style:none; 
    outline:none; 
    text-decoration:none; 
    appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    border:none;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--grey);
    font-weight:400;
    line-height:1;
}
body{
    background-color:var(--black);
    width:100vw;
    height:100vh;
}
button[type="button"]{
    cursor: pointer; 
    background-color:transparent; 
}
.d-flex{
    display:flex;
}
.d-grid{
    display:grid; 
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-end{
    justify-content: flex-end;
}
.align-items-center{
    align-items: center; 
}
.align-items-top{
    align-items: top; 
}
.flex-column{
    flex-direction: column;
}
nav,.main-wrapper,.control-wrapper{
    width:100%; 
    max-width: var(--maxwidth);
    margin:0 auto; 
    padding:1rem 0;
}
.logo{
    font-size:1.25rem; 
    line-height: 2rem; 
}
.logo img {
    width: 2rem; 
    height: 2rem; 
    margin-right:.25rem; 
}
.navbar .nav-item{
    margin:0;
    text-align:right;
    margin-left:1.5rem;
    padding: 1rem 0;
}
.navbar .nav-item.active{
    border-bottom:5px solid var(--red);
}
.control-wrapper{
    height: auto; 
    position:fixed; 
    bottom:0rem;
    left:0; 
    grid-template-columns:1fr 1fr 1fr;
}
.control-wrapper .song-information img{
    width:auto;
    height: calc(10vh - 3rem); 
    margin-right: 1rem; 
    box-shadow:var(--shadow);
    border-radius:.25rem;
}
.progress-wrapper{
    margin:1rem 0; 
}
input[type="range"]{
    width:100%; 
    height:.25rem; 
    background-color:var(--dark); 
    position:relative; 
    margin:0 1rem;
}
input[type="range"]::-webkit-slider-runnable-track{
    width:130px;
    height:.25rem; 
    background-color:var(--red);
    border-radius:.5rem;
    box-shadow:var(--shadow);
    position:absolute; 
    left: 0; 
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none; 
    width:.85rem;
    height:.85rem; 
    border-radius:50%;
    background-color:#ffb1f5;
    margin-top: -.32rem; 
    cursor: pointer; 
    box-shadow: var(--shadow);
}
.control-wrapper button{
    opacity:.65;
    transition: opacity .2s linear; 
}
.control-wrapper button:hover{
    opacity: 1; 
}
.control-wrapper button#playPause{
    margin-right:1.5rem; 
    margin-left:1.5rem; 
}
#song-title{
    width:100%; 
}
.content-list-item{
    padding:1rem 0; 
    margin:2rem 0; 
    cursor: pointer; 
    transition:box-shadow .25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.content-list-item:hover{
    box-shadow: 0px 1px 5px var(--grey);
}
.content-list-item img{
    width:100px;
    height:auto;
    box-shadow:var(--shadow);
    border-radius:.5rem; 
    margin-right:1.5rem; 
}
.content-list-item h2{
    margin-bottom:1.25rem; 
    text-transform: capitalize;
}
.content-list-item p span{
    font-size:.85rem; 
    background-color:var(--dark);
    padding:.25rem 1rem; 
    border-radius:.25rem; 
    box-shadow: var(--shadow)
}
.main-wrapper {
    height: 60vh; 
    overflow-x:hidden; 
    overflow-y:initial; 
}
::-webkit-scrollbar {
    width: .35rem;
    cursor: pointer; 
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--shadow); 
    border-radius: .15rem;
}
::-webkit-scrollbar-thumb {
    background: var(--dark); 
    border-radius: .15rem;
    cursor: pointer; 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--red); 
}
#lyric-book{
    width:100%; 
    height: 100%; 
}
#lyric-wrapper {
    width:100%;
    text-align:center; 
}
#lyric-wrapper p {
    text-align: center; 
    font-size:1.15rem; 
    line-height: 2.5rem; 
    opacity:0.25;
}
#lyric-wrapper p.active{
    color:var(--light);
    font-size: 2rem; 
    opacity: 1; 
}
.content-wrapper{
    padding:2rem 0; 
}
.content-wrapper p{
    margin: 1rem 0; 
    line-height: 2; 
}
footer img{
    position:fixed;
}
#cherry1{
    top: 25vh;
    left:-100px;
    z-index: 0;
    transform: rotate(-25deg);
    width:400px;
    height: auto; 
}
#moon{
    opacity:.2;
    z-index: -1; 
    top: -100px; 
    width: calc(50% - 400px);
    height:auto;
}
#cherry2{
    top:0;
    right:-10px;
    transform: rotateY(-180deg);
    z-index: -1; 
    width:400px;
    height:auto;
}
#miyuki{
    z-index:3; 
    right:10px;
    bottom: 35px; 
    width: calc(50% - 450px);
    height: auto; 
}
#mic{
    z-index:3; 
    left:calc(50% - 550px);
    bottom:25px;
    max-width:50px;
    height: auto; 
}
#bunny{
    width:80px;
    height:auto;
    z-index: 0; 
    bottom:30px;
    left: 5%;
    opacity: .58;
}
@media screen and (min-width: 768px) {
    .control-wrapper{
        left: calc( 50% - 384px )
    }
}
